---
layout: default
title: sibo's blog
---
<a class="to_homepage"  href="/"><h2 class="title"><i class="fa fa-home"></i>{{ page.title }}</h2></a>
<hr/>
<div class="blog">
	<div class="posts">
		{% for post in paginator.posts %}
			<div class="post">
				<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
				<p class="postTime">
					<span class="date">{{ post.date | date: "%B %d, %Y" }}</span>
                    {% for tag in post.tags %}
                        <span class="tag">{{tag}}</span>
                    {% endfor %}
				</p>
				<div class="content">
					{{ post.excerpt  }}
				</div>
				<p class="read_more"><a href="{{ post.url }}">read more &#65515;</a></p>
				<p class="clear"></p>
			</div>
		{% endfor %}
	</div>
	{% if paginator.total_pages > 1 %}
		<div class="pagination">
			{% if paginator.previous_page %}
				<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
			{% else %}
				<span>&laquo; Prev</span>
			{% endif %}

			{% for page in (1..paginator.total_pages) %}
				{% if page == paginator.page %}
					<em>{{ page }}</em>
				{% elsif page == 1 %}
					<a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
				{% else %}
					<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
				{% endif %}
			{% endfor %}

			{% if paginator.next_page %}
				<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
			{% else %}
				<span>Next &raquo;</span>
			{% endif %}
		</div>
	{% endif %}
</div>
