<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/default.css" type="text/css">
    <link rel="icon" type="image/x-icon" href="/favicon.png" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-5876500811282679",
        enable_page_level_ads: true
      });
    </script>
</head>

<body class="home">
    <header>
        <h2 class="title"><a class="to_homepage" href="/"><canvas id="logo" class="logo" width="36" height="36"></canvas>{{ page.title }}</a></h2>
        <nav>
            <ul>
                <li><a class="nav-tags" href="/tags.html">Tags</a></li>
                <li><a class="nav-archive" href="/archive.html">Archive</a></li>
                <li><a class="nav-go-lang" href="/golang_tutorials/contents.html">Go Lang Tutorials</a></li>
                <li><a class="nav-search" href="/search.html">Search</a></li>
            </ul>
        </nav>
        <hr/>
    </header>
    {{ content }}
    <footer class="footer">
        <p>
            ALL RIGHTS RESERVED. EMAIL: yangsibai@gmail.com
        </p>
    </footer>
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-48397673-1', 'sibo.me');
    ga('send', 'pageview');
    </script>
    <script src="/javascripts/app.js"></script>
    <script>
        App.drawLogo(document.getElementById('logo'));
    </script>
</body>
</html>
